# Airflow
logs/
airflow.cfg
airflow.db
webserver_config.py
__pycache__/
*.pyc
*.pyo
.airflow/

# Python
.venv/
venv/
*.egg-info/
dist/
.pytest_cache/

# Environment
.env
*.env

# OS
.DS_Store
Thumbs.db
